# Ignore model folders
offline_models/
qol_classifier_fine_tuned/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
.envrc

# VS Code settings
.vscode/

# Other common ignores
*.sqlite3
*.db
*.bak
